*{
    margin: 0px;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #395880;
    overflow: auto;
}

/* Navigation links */
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #395880;
    
}

/* Navigation links */
.navbar a {
    float: left;
    padding-top: 25px;
    color: white;
    text-decoration: none;
    font-size: 28px;
    width: 25%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #6E7885;
}

/* Style the current/active link */
.navbar a:active {
    background-color: #6E7885;
}

#bannerimg {
    width: 100%;
    height: auto;
}

.pic {
    position: absolute;
    width: 20%;
    margin: 3rem;
    top: 200px;
    right: 50px;
    padding: 10px;
    border-width: 10px;
    border-radius: 30px;
    border-color: 8FCBFF;
    border-style: solid;

}

.box {
    position: relative;
    width: 75%;
    margin: 2rem;
    padding: 1rem;
    color: #FFF;
    font-size: .8rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: Middle;
    border-width: 6px;
    border-radius: 30px;
    border-color: 6E7885;
    border-style: solid;
    background-color: #395880;
}

.pos {
    margin-left: 75%;
    position: fixed
    

}
.pos2 {
    margin-left: 25%;
    position: fixed
    

}